.icon{
    border-radius: 100%;
    width:50px;
    height:50px;
    position: absolute;
    bottom:5%;
    left:2%;
    background-color: lightblue;
    z-index: 3;
}
.social{
    border-radius: 0 0 0 100%;
    width:300px;
    height:300px;
    position: absolute;
    top:-100%;
    right:0%;
    background-color: lightgreen;
    transition: 1s;
}
.about{
    border-radius: 0 100% 0 0;
    width:400px;
    height: 400px;
    position: absolute;
    bottom:0%;
    left:-100%;
    background-color: violet;
    transition: 1s;
}
.social i{
    font-size:48px;
}